<!DOCTYPE html>
  <html>
   <head>
    <title> Home </title>
    <link type="text/css" rel="stylesheet" href ="index.css"/>
   </head>
    <body>
     <%-partial("folder.ejs/_header.ejs")%>

        
           <main>
              <div id="whereitstarted">
               <h1> Where It All Started </h1>
               <p>
                Nintendo Co, Ltd., founded in 1963 (but operating since 1889) by Fusajiro Yamauchi, manufactures, develops and markets home video gaming systems, these devices include the Nintendo 64, the Game Cube and the Nintendo Wii. Nintendo is based in Japan and has its head office base in Kyoto. It also has a presence in Europe and The Americas. The company operates through various wholly owned subsidiaries all across the globe.
                </p>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0bWvXh-9cok" frameborder="0" allowfullscreen></iframe>
                
                </main>
                </div>

 <%-partial("folder.ejs/_aside.ejs")%>
         <%-partial("folder.ejs/_footer.ejs")%>
        </body>
       </html>

