<!DOCTYPE html>
  <html>
   <head>
    <title> Pokemon </title>
    <link type="text/css" rel="stylesheet" href ="index.css"/>
   </head>
    <body>
     <%-partial("folder.ejs/_header.ejs")%>
       
       </header>

       <main>
       <section>
       <h2>Pokemon</h2>
       Pokémon  is a media franchise managed by The Pokémon Company, a Japanese consortium between Nintendo, Game Freak, and Creatures. The franchise copyright is shared by all three companies, but Nintendo is the sole owner of the trademark. The franchise was created by Satoshi Tajiri in 1995 and is centered on fictional creatures called "Pokémon", which humans, known as Pokémon Trainers, catch and train to battle each other for sport.
       </section>
       <img src="images/pokemon-games.png" alt="pokemon games">
       </main>
       
                   <%-partial("folder.ejs/_aside.ejs")%>      
      <%-partial("folder/_footer.ejs")%>
                          