<!DOCTYPE html>
  <html>
   <head>
    <title> Super Mario Bros </title>
    <link type="text/css" rel="stylesheet" href ="index.css"/>
   </head>
    <body>
    <%-partial("folder.ejs/_header.ejs")%>
                 <main>
                  <section>
                  <h2>Super Mario Bros</h2>
                 <p> Super Mario Bros. is a platform video game developed and published by Nintendo for the Nintendo Entertainment System home console. Released as a sequel to the 1983 game Mario Bros., Super Mario Bros. was released in Japan and North America in 1985, and later in Europe and Australia two years later.</p>

                  <p>It is the first of the Super Mario series of games. In Super Mario Bros., the player controls Mario and in a two-player game, a second player controls Mario's brother Luigi as he travels through the Mushroom Kingdom in order to rescue Princess Toadstool from the antagonist Bowser.</p>

                  <p>In 2005, IGN's poll named the "pioneering" and "highly influential" title as the "greatest game of all time", considering it to have aided in resurrecting the crashed American video game market of the 1980s.[6] The game's mid-1980s release served to further popularize the side-scrolling subgenre of the already popular platform video game genre of the early 1980s. In addition to its definitive features, the game has also sold enormously well, and was the best-selling game of all time for a single platform for approximately three decades at over 40 million units, until Nintendo's Wii Sports took that title. The commercial success of Super Mario Bros. has caused it to be ported to almost every one of Nintendo's major gaming consoles. Nintendo released special red variants of the Wii and Nintendo DSi XL consoles in re-packaged, Mario-themed limited edition bundles in late 2010 as part of the 25th anniversary of the game's original release.</p>
                   </section>
                   <img class="mario" src="images/mario-timeline.jpg">
                  </main> 
                     <%-partial("folder.ejs/_aside.ejs")%>

                                                    
      
         <%-partial("folder.ejs/_footer.ejs")%>
  </body>
 </html>