<!DOCTYPE html>
  <html>
   <head>
    <title> Animal Crossing </title>
    <link type="text/css" rel="stylesheet" href ="index.css"/>
   </head>
    <body>
     <%-partial("folder.ejs/_header.ejs")%>

            <main>
            <section>
            <p> Animal Crossing is a community simulation video game series developed and published by Nintendo, in which the human player lives in a village inhabited by anthropomorphic animals, carrying out various activities including fishing, bug catching, fossil hunting, etc. The series is notable for its open-ended gameplay and extensive use of the game systems' internal clock and calendar to simulate real passage of time. Four Animal Crossing games have been released worldwide, one each for the GameCube (Originally Nintendo 64), Nintendo DS, Wii, and the Nintendo 3DS. The series has been both critically and commercially successful and has sold over 27 million units worldwide. Two new spin-off games, Animal Crossing: Happy Home Designer and Animal Crossing: Amiibo Festival, were released for Nintendo 3DS and Wii U respectively in 2015. And Animal Crossing New Leaf Welcome Amiibo was released for Nintendo 3DS in 2016</p>
            </section>
            
            <ul id="acgames">
            <li><img src="images/accityfolk.jpeg" alt="cityfolk"></li>
            <li><img src="images/acnewleaf.jpeg" alt="newleaf"></li>
            <li><img src="images/acwildworld.jpeg" alt="wildworld"></li> 
            </ul>

            </main>



                <%-partial("folder.ejs/_aside.ejs")%>
    
         <%-partial("folder.ejs/_footer.ejs")%>
         </body>
         </html>