<header id="header">
<img src="images/nintendologo.png" alt="Nintendo Header"/>
      <nav>
       <ul id="menu">
         <li><a href="index.html">Home</a></li>
         <li>
          <a href="page10.html">Games </a>
          <ul class="hidden">
             <li><a href="page1.html">The Legend Of Zelda</a></li>
             <li><a href="page2.html">Super Mario Bros </a></li>
             <li><a href="page3.html">Pokemon </a></li>
             <li><a href="page4.html">Animal Crossing</a></li>
          </ul>
          </li>

          <li><a href="page11.html">Games Consoles</a>
           <ul class="hidden">
            <li><a href="page5.html">Nintendo 64</a></li>
            <li><a href="page6.html">Game Boy Advance</a></li>
            <li><a href="page7.html">Nintendo DS</a></li>
            <li><a href="page8.html">Nintendo Wii</a></li>
            </ul>
            </li>

            <li><a href="page9.html">Company History</a></li>
            </ul>
            </nav>
            </header>